
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json

.zed/*
!.zed/tasks.json
!.zed/debug.json

bpydev.toml
bpydev.toml.backup

.venv

*.blend?
*.zip
*~

__pycache__
*.pyc
.DS_Store
*.py[cod]
*$py.class


packages/*
!packages/.gitkeep

testsuite/output/*
!testsuite/output/.gitkeep
testsuite/report/*
!testsuite/report/.gitkeep

out
